body {
  max-width: 760px;
  margin: 0 auto;
  font-family: 'Source Sans Pro', Arial, sans-serif;
}

header {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

header,
footer {
  background-color: hsl(94, 13%, 69%);
  text-align: center;
  height: auto;
  width: 100%;
}

header img {
  height: auto;
  margin-right: 16px;
}

h1 {
  font-size: 2em;
  font-family: 'Montserrat', Helvetica, sans-serif;
  margin: 0.15rem;
}

h2 {
  font-size: 1.2em;
  margin-right: 20px;
}

ul li {
  margin-bottom: 5px;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  max-width: 760px;
  margin-top: 50px;
}

footer p {
  font-size: 0.9em;
  color: 	hsl(27, 95%, 9%);
}

footer a {
  color: hsl(0, 0%, 0%);
}

