/* phone or baseline view */

div h2 {
    color: white;
    background-color: hsl(27, 95%, 9%);
    width: 100%;
    margin: -10px 0px 0px -10px;
    line-height: 1.5em;
    font-size: 1.5em;
    padding: 5px;
    padding-right: 15px;
}

body {
    line-height: 1.4em;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0px;
}

.dp-column {
    background-color: hsl(28, 28%, 87%);
    padding: 10px;
    border: 1px solid hsl(27, 95%, 9%);
    margin-top: 16px;
    margin-left: 23px;
}

div img {
    margin-top: 16px;
    border: 1px solid hsl(27, 95%, 9%);
    width: 100%;
}

div {
    border-radius: 7px;
}
