@media only screen and (min-width: 32.5em) {
  
  .primaryNav a.active {
    color: #dddfe6;
    font-family: "Marcellus", 'Times New Roman', Times, serif;
  }

  header {
    display: flex;
  }

  nav {
    width: fit-content;
  }

  h2 {
    font-size: 2.15rem;
  }

  .primaryNav {
    display: flex;
  }

  .primaryNav a:hover {
    color: #2c363f;
    background-color: #e7e5e2;
  }

  .primaryNav li {
    display: block;
    flex: 1 1 auto;
  }

  .primaryNav a {
    font-size: 1.2rem;
    text-align: center;
    border-top: none;
  }

  .primaryNav li:first-child {
    display: none;
  }
  /* --------- Home Page ---------- */
  .weathergrid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .weatherToday, .weather_story {
    grid-row: 2 / 3;
    width: 70%;
  }
  .featured_companies {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 10px;
  }

  .animation {
    margin-left: 20rem;
    margin-top: 7rem;
    width: 25rem;
  }

  .animationdiv {
    height: 20rem;
  }

  button {
    top: 37%;
  }

  .homeimg {
    background-size: 100%;
  }
  /* --------- Layton ---------- */

  .small_none {
    display: inline-block;
  }

  .rightimg {
    width: auto;
    float: right;
  }

  .leftimg {
    width: auto;
    float: left;
    margin-right: 2.5rem;
    margin-bottom: 5rem;
  }
  /* --------- Directory ---------- */
  .buscards_g {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 10px;
  }
  .boardofdirectors {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    text-align: center;
  }

  .boardofdirectors section:first-child {
    grid-column: 1/4;
    justify-self: center;
  }

  .boardofdirectors section {
    margin-bottom: 2rem;
  }

.featured_companies section div, .buscards_g section div {
  height: 7rem;
  width: 7rem;
  align-content: middle;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.featured_companies section img, .buscards_g img  {
  vertical-align: middle;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.sociallogo {
  max-width: 64px;
}

.contactinfo {
  display: inline-block;
  margin-left: 2rem;
}

iframe {
  width: auto;
}
/* --------- Join ---------- */

.mem_levels {
  display: inline-block;
  width: 9rem;
}
form {
  width: 75%;
}
}