header {
    background-color: #2C363F;
    color: #F4F5F9;
    align-items: center;
    justify-content: left;
    display: flex;
}

body {
    background-color: #dddfe6;
}

a {
    text-decoration: none;
}

nav, footer {
    
    margin: 0 auto;
}

button {
    background-color: #F1404b;
    color: #F4F5F9;
}

h1, h2, h3 {
    font-family: 'Marcellus';
}

h2 {
    color: #2C363F;
}

body {
    font-family: 'Nunito';
}

.primaryNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.primaryNav a {
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    font-family: "Nunito", Helvetica, sans-serif;
    color: #F4F5F9;
  }

main {
    max-width: 900px;
    margin: 0 auto;
    background-color: #F4F5F9;
    padding: 1rem;
}

img {
    width: 100%;
    height: auto;
}

.sociallogo {
    width: 3%;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

