/* --------- All Pages ---------- */
a {
  text-decoration: none;
}
header,
footer {
  background-color: #2c363f;
  color: #f4f5f9;
  align-items: center;
  justify-content: left;
}

header {
  display: flex;
}

body {
  background-color: #dddfe6;
}

.primarynav a,
button a, footer a {
  color: #f4f5f9;
}

nav {
  margin: 0 auto;
}

.homeimg {
  background-image: url("../images/homelarge760x690.jpg");

  min-height: 250px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  background-color: #f1404b;
  border: none;
  padding: 1rem;
  text-align: center;
  border-radius: 5px;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

h1,
h2,
h3 {
  font-family: "Marcellus";
}

h2 {
  color: #2c363f;
}

body {
  font-family: "Nunito";
}

.primaryNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.primaryNav a {
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  font-family: "Nunito", Helvetica, sans-serif;
  color: #f4f5f9;
}

.primaryNav li {
  display: none;
}

.primaryNav li:first-child {
  display: block;
}

main {
  max-width: 900px;
  margin: 0 auto;
  background-color: #f4f5f9;
  padding: 1rem;
}

img {
  width: 100%;
  height: auto;
}

.sociallogo {
  width: 3%;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

.responsive li {
  display: block;
}

/* --------- Membership Join Form ---------- */

label {
  display: block;
  padding: 0.5rem;
}

/* --------- Attributions ---------- */
.attributions li a {
  color: #2c363f;
}

/* --------- Home Page ---------- */
.weatherToday,
.weather_story {
  border: 2px solid #f1404b;
  padding: 0.5rem;
  display: inline-block;
  background-color: #f1404c17;
}

.stats_name {
  font-size: 1.3rem;
}
