@media only screen and (min-width: 32.5em) {

    header {
        align-items: center;
        width: 100%;
        display: flex;
    }

    .primaryNav {
        display: flex;
    }

    .primaryNav li {
        display: block;
        flex: 1 1 auto;
    }

    .primaryNav a {
        text-align: center;
    }

    .primaryNav li:first-child {
        display: none;
    }
}