.pancake_banner {
  background-color: #f5ac25;
  font-size: 1.5rem;
  text-align: center;
  padding: .1rem 0 .1rem;
  background: linear-gradient(#f1dfac, #f5ac25);
  display: none;
}

body {
  background-color: #e7e5e2;
  color: #2f2f2f;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Source Sans Pro", Arial, sans-serif;
}

header {
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 1rem 0 1rem;
}

.headings {
  display: flex;
  flex-direction: column;
}

header,
footer {
  background-color: #05547e;
  color: #ffffff;
  font-family: "Montserrat", Helvetica, sans-serif;
  margin: 0 auto;
}

header img {
  height: 100%;
  padding-left: 1rem;
}

.motto {
  font-size: .75rem;
  font-style: italic;
  padding-left: 1rem;
}

.hambutton {
  border: none;
  font-size: 1.6rem;
}

nav {
  background-color: #2f2f2f;
  margin: 0 auto;
}

.primaryNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.primaryNav li:first-child {
  display: block;
}

.primaryNav li {
  display: none;
}

.primaryNav a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  padding: 0.8rem;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  font-family: "Montserrat", Helvetica, sans-serif;
}

.primaryNav a:hover {
  color: #000000;
  background-color: #e7e5e2;
}

.responsive li {
  display: block;
}

.active {
  background-color: #000000;
}

main {
  max-width: 760px;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  font-size: 1.75rem;
  text-shadow: 2px 2px 4px #2f2f2f;
  margin: 1rem 0 0 0;
  padding-left: 1rem;
}

h2 {
  font-size: 2.5rem;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: "Montserrat", Helvetica, sans-serif;
}

.herodiv {
  margin: 10px auto;
  position: relative;
}

.forecastheading {
  display: none;
}

.stats {
  background: radial-gradient(#ffffff, #f5ac25);
  border: 1px solid #000;
  padding: 1rem;
  box-shadow: 0 0 30px #111;
  opacity: 0.9;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2rem 0 2rem;
}

.stats h3 {
  grid-column: 1 / 3;
  text-align: center;
  text-decoration: underline;
}

.stats ul {
  list-style-type: none;
  line-height: 1.5rem;
}

.statsnames {
  text-align: right;
}

.statsvalues {
  padding-left: 5px;
}

img {
  width: 100%;
}

header img {
  width: 75px;
}

.article {
  background-color: #EBF8FE;
  border: 1px solid #B1E1FC;
  padding: 1rem;
}

.article img {
  max-width: 254px;
  box-shadow: 0px 0px 30px #05547e;
  margin: auto;
}

.contact {
  background-color: #FDF1D8;
  padding: 1.3rem;
  margin-top: 2rem;
}

.mapimg {
  max-width: 200px;
  border: 1px solid #000;
}

.sociallogo {
  max-width: 50px;
}

footer {
  width: 100%;
  align-items: center;
  padding: 1rem 0 1rem;
  text-align: center;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
